<div class="header">
  <h1>Burgers!</h1>
  <img class="logo" src="/assets/images/burger.png" alt="Burger Time">
</div>

<div class="ready-burgers">
  <h2>Burgers to eat!</h2>

  <ul>
    {{#each burger}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
  </ul>
</div>

<div class="eaten-burgers">
  <h2>Burgers that are devoured!</h2>

  <ul>
    {{#each burger}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
  </ul>
</div>

<div class="form">
  <h2>Add a Burger</h2>
  <form class="create-form">
    <div class="form-group padded">
      <label for="ba">Burger Name:</label>
      <input type="text" id="br" name="name">
    </div>
    <button type="submit">Add Burger</button>
  </form>
</div>


<div class="row">
  <form id="updateBurger" class="button-size">
    <textarea id="textAreaUpdate" type="text" name="updateBurger"
      placeholder="Which Burger would you like to update?"></textarea>
    {{!-- Here we are creating a drop down list that will loop thru and get all of the items from the json object --}}
    <select name="id">
      {{#each burgers}}
      <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>

    <button id="updateBurgerBtn" type="submit">Update Burger!!</button>
  </form>

</div>
</div>